%h1 Authorization succeeded!
%p Use key below to access Watage!
%table
 %tr
  %td ACCESS_TOKEN
  %td #{@account[:watage_access_token]}
 %tr
  %td ACCESS_TOKEN_SECRET
  %td #{@account[:watage_access_token_secret]}

=form_for :dropbox_acocunt, :url => {:action => :remove} do |form|
 =submit_tag 'Remove this account', :class => 'btn btn-primary'
 =hidden_field :account, :watage_access_token
 =hidden_field :account, :watage_access_token_secret

%p
 %a{:href => url_for(:action => "index")} Back to top
